.App {
  text-align: center;
  flex: 1;
}

.App h1 {
  font-family: 'Caudex', serif;
}

.App h3 h4 h5{
  font-family: 'Roboto', sans-serif;
}

.App p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.App td th {
  font-family: 'Fira Sans', sans-serif;
}
